<!-- Botones -->
   
<section id="actions" class="py-4 mb-4 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" role="button" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
                    <i class="fas fa-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Listado Clientes -->
<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card-header">
                    <h4 class="card-title color-primary">Listado de Clientes</h4>
                </div>
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Saldo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes; let i=index" class="table-light">
                            <td>{{i+1}}</td>
                            <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                            <td>{{cliente.saldo | currency:' COP': '$':'4.2-2'}}</td>
                            <td>
                                <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4 class="display-4">
                            {{getSaldoTotal() | currency:' COP': '$':'4.2-2'}}
                        </h4>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i>{{clientes?.length}}
                        </h4>
                    </div>
                </div>
            </div>
            <!-- Fin tarjetas laterales -->
        </div>
    </div>
</section>

